# do not commit large files
Media/

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Direnv cache
.direnv/

##### Go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output files
tmp/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum
