{{define "dialog"}}
<dialog id="media-dialog">
  <div class="dialog-content">

    <div class="dialog-preview">
      <video controls autoplay muted>
        <source src="{{.Preview}}" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>

    <div class="dialog-details">
      <h2>{{.Title}}</h2>

      <p>By <strong>{{.Artist}}</strong></p>

      {{if .ContactQR}}
      <img src="{{.ContactQR}}">
      {{end}}
      {{if .Contact}}
      <p>{{.Contact}}</p>
      {{end}}

      <p class="description">{{.Description}}</p>

      <p id="dialog-duration">Full runtime: {{.Duration}}</p>

      <div class="dialog-actions">
        <button onclick="playCurrentVideo({{.ID}})">
          Play
        </button>

        <button onclick="stopVideo()">
          Stop Playback
        </button>
      </div>
    </div>
  </div>
</dialog>
{{end}}
