{{define "dialog"}}
<dialog id="media-dialog">
  <div class="dialog-content">

    <div class="dialog-preview">
      <video autoplay loop muted>
        <source src="{{.Preview}}" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>

    <div class="dialog-details">
      <h2>{{.Title}}</h2>

      <p>By <strong>{{.Artist}}</strong></p>

      {{if .ContactQR}}
      <div class="qrcode" style="background: center / contain no-repeat url('{{.ContactQR}}')"></div>
      <!-- <img class="qrcode" src="{{.ContactQR}}"> -->
      {{end}}
      {{if .Contact}}
      <p>{{.Contact}}</p>
      {{end}}

      <p class="description">{{.Description}}</p>
    </div>
    <div class="dialog-actions">
        <button class="play" onclick="playCurrentVideo({{.ID}})">
          Play
        </button>

        <button class="stop" onclick="stopVideo()">
          Stop Playback
        </button>
        <p class="dialog-duration">Runtime: {{.Duration}}</p>
      </div>
  </div>
</dialog>
{{end}}
