{{define "media-card"}}
<div class="card"
     hx-get="/dialog/{{.ID}}"
     hx-target="#media-dialog"
     hx-swap="outerHTML"
     hx-trigger="click"
     hx-on::after-request="document.getElementById('media-dialog').showModal()">
  <div class="card-body">
    <h2>{{.Title}}</h2>

    <img class="card-image"
         src="{{.Thumbnail}}"
         alt="{{.Title}}">
    <div class="card-infos">
      <p>By <strong>{{.Artist}}</strong></p>
      {{if .Duration}}
      <p>Runtime: {{.Duration}}</p>
      {{end}}
    </div>
  </div>
</div>
{{end}}
