{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}My App{{end}}</title>

    <script src="/static/third_party/htmx/htmx@2.0.10.min.js"></script>
    <script src="/static/third_party/htmx/htmx-ext-sse@2.2.4.min.js"></script>
    <script src="/static/js/dialog.js" defer></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    {{template "header" .}}
    <main>
      {{block "content" .}}{{end}}
    </main>
    <div
      hx-ext="sse"
      sse-connect="/mpvStatus"
      sse-swap="message"
      class="statusbar">Connection to mpv missing. Please start mpv before go server.
    </div>
    <dialog id="media-dialog"></dialog>
  </body>
</html>
{{end}}
