:root {
    /* Backgrounds */
    --color-background: #e6efee;
    --color-surface: #ffffff;
    --color-surface-muted: #0f1614;

    --ci-light-tint: #f9f4e5;
    --ci-bronze-tint: #7d643b;
    --ci-bronze-tint: #8e7246;
    --ci-ef-green: #1f5651;

    /* Text */
    --color-text: #674731;
    --color-text-muted: #666666;

    --heading-size: 40px;
    --bodytext-size: 16px;

    --heading-weight: 700;
    --bodytext-weight: 500;

    /* Borders */
    --color-border: #cbdedd;

    /* Shadows */
    --color-shadow: rgba(0, 0, 0, 0.12);

    /* Overlays */
    --color-backdrop: rgba(0, 0, 0, 0.8);

    /* Status */
    --color-statusbar-background: #e2d0a9;
    /* --color-statusbar-text: white; */

    /* Accent */
    --color-accent: #3b82f6;
    --color-accent-hover: #2563eb;
}

/* CSS Resets */
*:not(dialog) {
    margin: 0;
    box-sizing: border-box;
}
/* avoid outlines on active element when opening dialog popups */
*:focus,
*:focus-visible {
    outline: none;
}
* {
    /* touch-action: manipulation; */
    /*prevent pinch and double tap zoom actions*/

    user-select: none;
    /*prevent text highlight*/
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-Italic-VariableFont_wght.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-VariableFont_wdth\,wght.ttf");
    font-style: normal;
    font-stretch: 85%;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
    font-style: italic;
    font-stretch: 85%;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: var(--bodytext-weight);
    font-size: var(--bodytext-size);
    color: var(--color-text);
    background: linear-gradient(to bottom, var(--color-background), #fff);
    overscroll-behavior: contai;
}
html {
    /*for overscroll*/
    background: linear-gradient(to bottom, var(--color-background), #fff);
}

/************** HEADER **************/
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(20, 83, 67);
    color: #fff;
    z-index: 1;
    font-size: var(--heading-size);
    font-family: "Josefin Sans", sans-serif;
    font-weight: var(--heading-weight);
    overscroll-behavior: none;

    padding: 30px 0 0 40px;
    width: 515px;
    height: 100px;
    clip-path: path(
        "M515.21,0s21.3,52.71-25.08,92.27c-36.29,30.96-92.77,26.77-119.72,26.77-57.8,0-160.81-19.38-220.66-23.06-50.53-3.11-72.06,14.81-107.32,17.21-26.23,1.79-42.44-8.57-42.44-8.57V0h515.21Z"
    );
    width: 520px;
    height: 120px;
}

.header-logo {
    position: fixed;
    top: 31px;
    left: 52px;
    z-index: 1;
    transform: rotate(-10deg);
}

.header-logo img {
    height: 84px;
}

.header-title {
    margin: 0 0 0 106px;
    font-size: var(--heading-size);
}

.header-spacer {
    justify-self: end;
}

/************** CARD CONTAINER **************/
.card-container {
    /* column-count: var(--columns);
    column-gap: 1.5rem; */
    margin: 160px 64px 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

main:before {
    content: "";
    background: url("../as-logo.svg");
    width: 96px;
    position: absolute;
    display: block;
    top: 20px;
    right: 64px;
    height: 80px;
    filter: invert(64%) sepia(5%) saturate(2144%) hue-rotate(130deg) brightness(92%) contrast(91%);
    filter: invert(28%) sepia(41%) saturate(809%) hue-rotate(126deg) brightness(91%) contrast(98%);
}

/************** MEDIA CARDS **************/
.card {
    break-inside: avoid;

    /* padding: 1rem; */
    border: 1px solid var(--color-border);
    border-radius: 4px;

    background: var(--color-surface);
    overflow: hidden;

    /* box-shadow: 0 2px 8px var(--color-shadow); */
}

.card-image {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-body {
    /* padding: 1rem; */
    position: relative;
    color: #1e302b;
}
.card-data {
    padding: 15px 22px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    /* height:-webkit-fill-available; */
    /* mix-blend-mode: hard-light; */
    background: #cbdeddcc;
    backdrop-filter: blur(8px);
}

.card-data h2 {
    overflow-wrap: break-word;
    /* font-family: "Josefin Sans", sans-serif; */
    margin: 0;
    font-size: var(--bodytext-size);
    font-weight: 800;
}

.card-data p {
    margin: 0 56px 0 0;
    font-size: var(--bodytext-size);
}

.card-duration {
    position: absolute;
    right: 15px;
    bottom: 15px;
    /* background: #1f322d80; */
    /* backdrop-filter: blur(8px); */
    padding: 0 7px;
    display: block;
    p {
        margin: 0;
    }
}

.description {
    white-space: pre-line;
}

/************** STATUS BAR **************/
.statusbar {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 40px;
    /* padding:34px 64px 34px 40px; */
    padding: 48px 64px 28px 40px;

    width: 612px;

    background: var(--color-statusbar-background);
    color: var(--color-text);

    z-index: 100;
    clip-path: path(
        "M649.24,99.16V14.48S623,.79,580.35.05c-76.25-1.33-101.05,25.99-215.85,28-78.27,1.37-194.99-23.28-250.97-22.07-28.95.62-66.26.83-96.38,29.89C-2.12,54.46-3.16,86.8,4.3,99.16h644.94Z"
    );
    width: 649px;
}
.status-dot {
    width: 18px;
    height: 18px;
    align-self: center;
    font-size: 32px;
}
.status-dot:after {
    display: block;
    position: absolute;
    content: " ";
}

.status-dot.playing:after {
    background: no-repeat url("../glyph-play.svg");
    animation: pulse 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    height: 18px;
    width: 18px;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.status-dot.idle:after {
    background: no-repeat url("../glyph-stop.svg");
    height: 16px;
    width: 16px;
}

.status-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 360px;
}

.status-time {
    position: absolute;
    right: 64px;
    display: block;
    margin-left: auto;
    font-variant-numeric: tabular-nums;
}

/************** MEDIA DIALOG **************/
#media-dialog {
    width: 80vw;
    max-width: calc (100vw - 128px);
    margin-top: 161px;

    height: 65vh;
    max-height: 664px;

    padding: 0;
    border: none;
    border-radius: 4px;

    overflow: hidden;

    background: var(--color-surface);
    color: var(--color-text);
}

#media-dialog::backdrop {
    /* background: linear-gradient(to bottom, #19362e, #19362e90 80%, #19362e00); */
    background: linear-gradient(to bottom, #1b2925, #1b292590 80%, #1b292500);
    backdrop-filter: blur(10px);
    mask: linear-gradient(to bottom, black, black, transparent);
    /* mix-blend-mode: multiply; */
}

.dialog-content {
    display: grid;
    grid-template-columns: auto 508px;

    height: 100%;
}

.dialog-preview {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-surface-muted);
}

.dialog-preview video {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.dialog-details {
    padding: 0 40px;
    margin: 40px 0;

    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    overflow-y: scroll;
    max-height: 435px;
}

.dialog-details h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: var(--heading-weight);
    font-size: var(--heading-size);
    word-wrap: break-word;
}

.dialog-details .qrcode {
    width: 160px;
    height: 160px;
    position: relative;
    flex-shrink: 0;
}

.dialog-details .qrcode:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: " ";
    background: var(--color-text);
    mix-blend-mode: screen;
}
.dialog-details .author-details:has(.qrcode) {
    display: grid;
    grid-template-columns: 160px auto;
    gap: 40px;
    margin-bottom: 9px;
}
.dialog-details .author-details .qrcode {
    grid-column: 1;
}
.dialog-details .author-details .author-strings {
    margin-top: -5px;
}
.dialog-details .author-details:has(.qrcode) .author {
    margin-bottom: 9px;
}

.dialog-details button {
    flex-shrink: 0;
}

.dialog-actions {
    display: flex;
    gap: 9px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 428px;
}

.dialog-actions button {
    background: #f4eacd;
    color: var(--color-text);
    font-size: 0;
    border: none;
    position: relative;
    /* transition:0.3s ease; */
}
.dialog-actions button:active,
.dialog-actions button:target {
    background: var(--color-text);
    color: #f4eacd;
}
.dialog-actions button:after {
    position: absolute;
}
.dialog-actions button.play {
    width: 116px;
    height: 109px;
    clip-path: path(
        "M85.07.11C45.57-2.18-3.53,30.61.2,62.22c4.28,36.29,46.69,47.15,69.21,47.08s38.8-13.12,39.79-25.56c1.13-14.12-6.26-14.71-3.75-29.55,2.14-12.7,10.79-16.11,10.65-29.16-.16-15.86-14.24-23.95-31.03-24.92Z"
    );
}
.dialog-actions button.play:after {
    content: " ";
    background: url("../glyph-play.svg");
    width: 25px;
    height: 24px;
    top: 42%;
    left: 39%;
    font-size: 33px;
}
.dialog-actions button.stop {
    width: 70px;
    height: 84px;
    align-self: end;
    clip-path: path(
        "M.59,48.88C-3.21,21.91,11.5-6.23,37.24,1.22c10.76,3.11,10.41,16.34,18.78,25.67,8.96,10.01,16.6,22.51,12.78,35.89-2.82,9.88-13.7,20.66-33.95,20.66-18.19,0-31.22-13.1-34.25-34.55Z"
    );
    clip-path: path(
        "M4.42,27.44C15.31,2.47,38.89-7.55,58.86,6.19c8.46,5.82,11.69,10.32,13.42,22.73,1.84,13.18-8.27,35.41-18.53,44.8-7.58,6.94-20.99,11.7-38.25,1.09C0,65.28-4.23,47.3,4.42,27.44Z"
    );
    width: 73px;
    height: 81px;
}
.dialog-actions button.stop:after {
    content: "";
    background: url("../glyph-stop.svg");
    width: 21px;
    height: 21px;
    font-size: 35px;
    top: 31%;
    left: 35%;
}

.dialog-actions .dialog-duration {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Optional: Horizontal scroll fuckery */
body.horizontal-scroll main {
    max-width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
}
body.horizontal-scroll .card-container {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    width: max-content;
    overflow: hidden;
}
body.horizontal-scroll .card-container:after {
    /* content:":3"; */
    position: relative;
    right: -64px;
    color: #075952;
}
body.horizontal-scroll .card {
    width: 21.24vw;
    /* this is here so the cards come out the right size (at our target resolution) to align
    to the right side along our anchor elements. yes it's kind of dirty, but it works for the case we're in */
}
