body {
    font-family: sans-serif;
    margin: 2rem;
}

.site-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    justify-self: start;
    padding-left: 2rem;
}

.header-logo img {
    height: 48px;
    width: auto;
}

.header-title {
    justify-self: center;
    margin: 0;
    font-size: 2rem;
}

.header-spacer {
    justify-self: end;
}

.card-container {
    column-count: var(--columns);
    column-gap: 1.5rem;
}

.card {
    break-inside: avoid;
    margin-bottom: 1.5rem;

    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.description {
    white-space: pre-line;
}

main {
    padding-bottom: 3rem; /* Add space after cards for statusbar */
}

.statusbar {
    position: fixed;

    width: min(70vw, 900px);
    left: 50%;
    transform: translateX(-50%);

    bottom: 1rem;

    padding: 0.75rem 1rem;

    background: rgba(255, 155, 255, 0.95);
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,.12);

    z-index: 1000;
}
